.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #31a140;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #31a140;
}

.contact-button {
    padding: 10px 15px;
    background-color: #31a140;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    color: rgba(255, 255, 255, 0.7);
}
.contact-button:hover {
    background-color: #28a745;
}
