/* src/components/Header.css */
.header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    width: 100%; 
    position: relative; 
}
div {
    width: 100%;
    margin: 0
    ;
}

  
.titulo {
    color: rgba(255, 255, 255, 0.7);;
}